/* Navbar样式 */
.navbar-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #6c7f15c1;
 
}

.navbar-custom .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

.navbar-custom .nav-link {
  font-size: 18px;
  color: white;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #f39c12; /* 橙色 hover 效果 */
}

.navbar-custom .navbar-toggler-icon {
  background-color: #f39c12; /* 菜单按钮颜色 */
}

.navbar-custom .nav-dropdown-item:hover {
  background-color: #f39c12;
}
