.List{
    background-color: rgb(255,255,255,0.8);
    margin: 1rem auto;
    font-family: "楷体";
    margin: 1rem;
    height: 40rem;
}
.Top{
    margin-left: 1.5rem;
}
.title{
    outline: none;
    border: none;
    width: 80%;
    background-color: transparent;
    font-size: 50px;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
}
.mainBox{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}
.movingBox {
    background-color: rgba(225, 240, 244, 0.4);
    width: 80%;
    height: 2rem;
    text-align: left;
    user-select: none;
    cursor: move;
    outline: none;
    border: none;
    padding: 0.5rem;
    resize: none;
}

  
.movingBox.moving {
    background: transparent;
    border: 2px dashed black;
    color: transparent;
    cursor: grabbing;
}
  